

<div class="stroke">
    <p>While you haven't placed any orders yet, you can
        <span class="stroke-line">
            <a class="stroke-link" [routerLink]="[ '/products/rolls' ]" routerLinkActive="active">go to the catalog</a>
        </span>
    </p>
</div>

<table>
  <thead>
    <tr>
      <th>Order No.</th>
      <th>Date & Time</th>
      <th>Address</th>
      <th>Total</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>No</td>
      <td>23.04.3045</td>
      <td>...</td>
    </tr>
    <tr>
      <td></td>
      <td>Momo maki with salmon</td>
      <td>1</td>
    </tr>
    <tr>
      <td></td>
      <td>Tempura set</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
