
@import '../../shared/styles/variables';

// ----------------------------- header -----------------------------

.header{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	max-width: 1920px;
  	margin: 0 auto;
	height: 94px;

	&-wrapper {
		display: flex;
		gap: 10px;
	}

  &-tablet-wrapper {
    display: flex;
  }

	&-logo {
		background-color: $primary-color;
		padding: 16px 12px 16px 8px;

		img {
			width: 150px;
		}
	}

	& a {
		text-decoration: none;
		color: black;
	}

	&-nav-wrapper {
		padding-top: 20px;
	}


	.menu {
		&-nav {
			display: flex;
			gap: 20px;
		}

		&-item span {
			min-width: 45px;
			margin-top: 8px;
			font-weight: bold;
			font-size: 14px;
		}

		&-item a {
			display: flex;
			flex-direction: column;
		}

		&-item img {
			height: 28px;
		}
	}

	&-callback {
    	min-width: 40px;
		width: 160px;
		height: 40px;
		background-color: $primary-color;
		border: 2px solid $primary-color;
		border-radius: 15px;
		padding-left: 10px;
		margin-top: 24px;
		margin-left: 165px;
		transition: 0.3s all ease-in-out;
		position: relative;

		&:hover {
			background-color: #fff;
			transition: 0.3s all ease-in-out;
		}

		&-img {
			position: absolute;
			left: 8px;
			top: 8px;
		}

		&-text {
			width: 120px;
			font-weight: bold;
			font-size: 14px;
			margin-left: 14px;
		}
	}

	&-info {
		min-width: 120px;
		margin-left: 56px;
		margin-top: 28px;
		text-align: center;
	}

	&-phone {
		font-weight: bold;
		text-decoration: none;
		color: $body-text;
	}

	&-work-time {
		font-size: 12px;
		margin-top: 6px;

		& span {
			font-weight: bold;
		}
	}

	&-user,
  &-user-profile {
		margin-left: 84px;
		margin-top: 30px;
	}

  &-user-profile {
    margin-left: 104px;
  }

	.admin {
		margin-top: 25px;
		margin-left: 45px;
		border: 2px solid lightgray;
		height: 20px;
		padding: 10px;
		border-radius: 6px;
	}

	&-basket {
		display: flex;
		background-color: $primary-color;
		margin: 0;
		padding: 18px;
		position: relative;
		transition: 0.3s all ease-in-out;

		&.active {
			background-color: white;

			& .basket-before {
				background-color: $primary-color;
			}
		}

		& .basket-before {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 20px;
			background-color: #fff;
			border-radius: 50px;
			position: absolute;
			left: 12px;
			top: 24px;
			transition: 0.3s all ease-in-out;
		}

		& .total {
			margin-top: 20px;
			margin-left: 6px;
		}

		& span {
			font-weight: bold;
		}
	}
}

.header-basket-modal {
	width: 750px;
	min-height: 253px;
	border-bottom-left-radius: 10px;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 94px;
	z-index: 101;
	animation: 0.4s forwards fadeInDown;

	.basket-products-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		border-top: 1px solid lightgray;
	}

	&-top {
		min-height: 150px;

		.basket-products {
			display: flex;
			align-items: center;
		}

		.basket-img-wrapper {
			padding: 10px;
			width: 122px;
			height: 92px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
			vertical-align: top;
			transition: .2s all ease-in-out;

			&:hover {
				transform: scale(1.02);
				transition: transform .2s ease-in-out;
			}
		}

		.title {
			margin: 0 10px;
			font-weight: bold;
			min-width: 280px;
			transition: 0.3s all ease-in-out;

			&:hover {
				color: $primary-color;
				transition: 0.3s all ease-in-out;
			}
		}

		.amount {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			border: 1px solid lightgray;
			padding: 10px 2px;
			border-radius: 6px;
			margin: 0 16px;
		  }

		  .amount button {
			padding: 5px;
			border-radius: 6px;
			border: none;
			background-color: transparent;
			color: #000;
			outline: none;
			cursor: pointer;
			margin: 0 10px;
			transition: .2s all ease-in-out;

			&:hover {
				transition: .2s all ease-in-out;
				background-color: $primary-color;
			}
		}

		& .price {
			margin: 0 10px;

			& span {
				font-weight: bold;
				min-width: 60px;
			}
		}

		& .basket-icon {
			padding: 20px;
			margin-right: 20px;
			transition: .2s all ease-in-out;

			& .fa-trash:hover {
				color: $primary-color;
				transform: scale(1.2);
				transition: transform .2s ease-in-out;
			}
		}
	}

	&-bottom {
		background-color: $primary-color;
		border-bottom-left-radius: 10px;
		height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		padding-left: 20px;
		font-size: 20px;

		& span {
			font-weight: bold;
		}

		& button {
			padding: 14px 20px;
			font-size: 18px;
			font-weight: bold;
			background-color: #fff;
			border: 2px solid #fff;
			border-radius: 6px;
			transition: .2s all ease-in-out;

			&:hover {
				background-color: transparent;
				transition: .2s all ease-in-out;
			}
		}

	}

	.disabled {
		opacity: 0.5;
		cursor: not-allowed;
		background-color: #cdcdcd;

		&:hover {
			background-color: #cdcdcd;
		}
	}

	.empty-basket {
		padding: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& p {
			font-weight: bold;
			font-size: 20px;
			margin-top: 14px;
		}

		& button {
			margin-top: 20px;
			border-radius: 10px;
			border: 2px solid $primary-color;
			background-color: $primary-color;
			padding: 16px;
			font-size: 20px;
			font-weight: bold;
			transition: .2s all ease-in-out;

			&:hover {
				background-color: #fff;
				transition: .2s all ease-in-out;
			}
		}
	}
}

.modal-wrapper {
	width: 100%;
	height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
	position: absolute;
	top: 95px;
	animation: 0.4s forwards opasity;
	backdrop-filter: blur(3px);
}


// ----------------------------- dropdown menu USER -----------------------------

.header-user-profile {
	position: relative;
}

#sidebarProfile {
  position: fixed;
	top: 2px;
	right: 100px;
  width: 200px;
  z-index: 98;
	border: 2px solid #b5d8f7;
	background-color: #fff;
	border-radius: 5px;
	padding: 0 40px 20px 20px;
	padding-top: 80px;
	animation: .4s forwards fadeInDown;
}

#sidebarProfile a {

	font-weight: bold;
	height: 30px;

	& + a {
		margin-top: 6px;
	}
}

.main-content-wrapper a{
    width: 100%;
    height: 40px;
    display: block;
    background: #fff;
    text-align: left;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 16px 2px 2px 16px;
    transition: 0.3s all ease-in-out;
}

.main-content-wrapper a:hover {
	border: 2px solid $primary-color;
	padding: 16px 2px 2px 16px;
	border-radius: 10px;
}

#openSidebarProfile {
    transition: 0.3s all ease-in-out;
    box-sizing: border-box;
    display: none;
}

.sidebarImg {
    transition: 0.3s all ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 24px;
    width: 24px;
    top: 0;
	right: 0;

	&::before,
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        transition: .3s ease-in-out;
    }

    &::before {
        top: -10px;
        left: -10px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
    }

    &::after {
        right: -10px;
        bottom: -10px;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    &:hover::before,
    &:hover::after {
        width: calc(100% + 19px);
        height: calc(100% + 19px);
		border-radius: 5px;
		border-color: $primary-color;
    }
}

#openSidebarProfile:checked ~ .sidebarImg:hover::before,
#openSidebarProfile:checked ~ .sidebarImg:hover::after {
	border-color: transparent;
}


// ----------------------------- dropdown menu HEADER -----------------------------

.dropdown-menu {
	position: relative;
}

#sidebarMenu {
    position: fixed;
    width: 120px;
    z-index: 98;
	border: 2px solid #b5d8f7;
	background-color: #fff;
	border-radius: 5px;
	padding: 0 60px 20px 30px;
	padding-top: 80px;
	margin-top: 4px;
	transition: 0.3s all ease-in-out;
	animation: .4s forwards fadeInDown;
}

#sidebarMenu a {
	font-weight: bold;
	height: 30px;

	& + a {
		margin-top: 2px;
	}

	&:first-child {
		padding-bottom: 12px;
	}
}

.main-content-wrapper a{
    width: 100%;
    height: 40px;
    display: block;
    background: #fff;
    text-align: left;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 16px 2px 2px 16px;
    transition: 0.3s all ease-in-out;
}

.main-content-wrapper a:hover {
	border: 2px solid $primary-color;
	padding: 16px 2px 2px 16px;
	border-radius: 10px;
	transition: .3s all ease-in-out;
}

#openSidebarMenu:checked ~ #sidebarMenu {
	animation: 0.6s forwards fadeInDown;
}
#openSidebarMenu {
    transition: 0.3s all ease-in-out;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: 0.3s all ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 22px;
    width: 22px;
    top:38px;
	margin-left: 50px;

	&::before,
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        transition: .3s ease-in-out;
    }

    &::before {
        top: -10px;
        left: -10px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
    }

    &::after {
        right: -10px;
        bottom: -10px;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    &:hover::before,
    &:hover::after {
        width: calc(100% + 19px);
        height: calc(100% + 19px);
		border-radius: 5px;
		border-color: $primary-color;
    }
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3.3px;
    width: 100%;
    background-color: black;
	margin-bottom: 2px;
	border-radius: 5px;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
	margin-bottom: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
	margin-bottom: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
	margin-bottom: 0;
}

#openSidebarMenu:checked ~ .sidebarIconToggle:hover::before,
#openSidebarMenu:checked ~ .sidebarIconToggle:hover::after {
	border-color: transparent;
}

// ----------------------------- animate border -----------------------------

.hover {
    position: relative;
	padding: 5px;
	min-width: 35px;
    margin: auto;
    cursor: pointer;
	text-align: center;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        transition: .3s ease-in-out;
    }

    &::before {
        top: -5px;
        left: -5px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
    }

    &::after {
        right: -5px;
        bottom: -5px;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    &:hover::before,
    &:hover::after {
        width: calc(100% + 9px);
        height: calc(100% + 9px);
		border-radius: 5px;
		border-color: $primary-color;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0px, -5%, 0px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


@keyframes opasity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


// ----------------------------- media screens -----------------------------

@media (max-width: 1408px) {
  .header {
    &-info {
      width: 140px;
    }
  }
}

@media (max-width: 1494px) {
  .header {
    &-user,
    &-user-profile {
      margin-left: 40px;
    }

    &-callback {
      width: 40px;
      &-text {
        display: none;
      }

      &-img {
        padding-left: 4px;
      }
    }
  }
}

@media (max-width: 1318px) {
  .header {
    position: fixed;
    background-color: #fff;
    z-index: 999;
    width: 100%;

    &-info {
      display: none;
    }

    &-nav-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: #fff;
      width: 100%;
      border-top: 2px solid lightgray;
    }

    &-nav-wrapper {
      padding-top: 8px;
    }

    .menu {
      &-nav {
        justify-content: space-around;
        padding-bottom: 10px;
      }
    }

    &-wrapper {
      justify-content: space-between;
    }

    &-tablet-wrapper {
      position: fixed;
      top: 0;
      left: 170px;
      right: 160px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }

    &-callback {
      margin: 26px 0 0 10px ;
    }

    &-info {
      margin-left: 0;
    }

    &-user,
    &-user-profile,
    &-admin {
      margin: 0;
      margin-top: 30px;
      min-width: 20px;
    }

    .dropdown-menu {
      margin-right: 30px;
      min-width: 20px;
    }

  }
}

@media (max-width: 632px) {
  .header {
    gap: 240px;

    &-tablet-wrapper {
      gap: 40px;
    }
  }
}

@media (max-width: 523px) {
  .header-tablet-wrapper {
    min-width: 150px;
  }
}

@media (max-width: 530px) {
	.header {
		gap: 20px;
	}
  .header-callback {
	display: none;
  }
}

@media (max-width: 500px) {
	.sidebarIconToggle {
		margin-left: 10px;
		padding-left: 10%;
	}

	.header-tablet-wrapper {
		left: unset;
		min-width: unset;
		gap: 10px;
	}
}

@media (max-width: 460px) {
	.header-logo {
		padding: 0;
		overflow: hidden;
		background-repeat: no-repeat;

		img {
			max-width: 100px;
			transform: scale(2.4) translateX(32px) translateY(12px);
			background-repeat: no-repeat;
		}
	}

	.header-logo {
		padding: 0;
	}
}

@media (max-width: 384px) {
	.header-tablet-wrapper {
		gap: 0;
	}
}