
<div class="main-line"></div>
<h1 class="main-title">Products</h1>

<ul class="products-tabs">
	<li class="products-item">
	  	<a class="products-link" (click)="selectTab(1)" [class.active]="selectedTab === 1">All</a>
	</li>
	<li class="products-item">
	  	<a class="products-link" (click)="selectTab(2)" [class.active]="selectedTab === 2">Philadelphia </a>
	</li>
	<li class="products-item" >
		<a class="products-link" (click)="selectTab(3)" [class.active]="selectedTab === 3">Сalifornia</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab(4)" [class.active]="selectedTab === 4">Baked</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab(5)" [class.active]="selectedTab === 5">Branded</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab(6)" [class.active]="selectedTab === 6">Maki</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab(7)" [class.active]="selectedTab === 7">Premium</a>
	</li>
</ul>

<div class="cards-container">
	<div class="cards">
		<div class="card" *ngFor="let product of userProducts">
		  <div class="img-wrap" [routerLink]="[ '/products/'+product.category.path, product.id ]">
			<img [src]="product.imagePath" alt="">
		  </div>
		  <div class="card-content">
			<div class="title" [routerLink]="[ '/products/'+product.category.path, product.id ]">{{ product.name }}</div>
			<div class="card-description">
			  <div class="description">{{ product.ingredients }}</div>
			  <div class="weight">{{ product.weight }}</div>
			</div>
			<div class="card-footer">
			  <div class="price">{{ product.price }} грн</div>
			  <div class="amount">
				<button><i class="fa-solid fa-minus fa-lg"></i></button>
				<span>1</span>
				<button><i class="fa-solid fa-plus fa-lg"></i></button>
			  </div>
			  <button class="order-btn">ORDER</button>
			</div>
		  </div>
		</div>
	</div>
</div>

  