@import '../../shared/styles/variables';

.main-line {
	width: 100px;
	height: 6px;
	background-color: $primary-color;
	margin: 40px auto 10px;
	border-radius: 6px;
}

.main-title {
	width: 160px;
	font-size: 30px;
	font-weight: bold;
	margin: auto;
}