
<div class="main-line"></div>
<h1 class="main-title">Products</h1>

<ul class="products-tabs">
	<li class="products-item">
	  	<a class="products-link" (click)="selectTab('All')" [class.active]="selectedTab === 'All'">All</a>
	</li>
	<li class="products-item">
	  	<a class="products-link" (click)="selectTab('Philadelphia')" [class.active]="selectedTab === 'Philadelphia'">Philadelphia </a>
	</li>
	<li class="products-item" >
		<a class="products-link" (click)="selectTab('Сalifornia')" [class.active]="selectedTab === 'Сalifornia'">Сalifornia</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab('Baked')" [class.active]="selectedTab === 'Baked'">Baked</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab('Branded')" [class.active]="selectedTab === 'Branded'">Branded</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab('Maki')" [class.active]="selectedTab === 'Maki'">Maki</a>
	</li>
	<li class="products-item">
		<a class="products-link" (click)="selectTab('Premium')" [class.active]="selectedTab === 'Premium'">Premium</a>
	</li>
</ul>

<div class="cards-container">
	<div class="cards">
		<div class="card" *ngFor="let product of userProducts | sort:selectedTab">
		  <div class="img-wrap" [routerLink]="[ '/products/'+product.category.path, product.id ]">
			<img [src]="product.imagePath" alt="">
		  </div>
		  <div class="card-content">
			<div class="title" [routerLink]="[ '/products/'+product.category.path, product.id ]">{{ product.name }}</div>
			<div class="card-description">
			  <div class="description">{{ product.ingredients }}</div>
			  <div class="weight">{{ product.weight }}</div>
			</div>
			<div class="card-footer">
			  <div class="price">{{ product.price * product.count }} грн</div>
			  <div class="amount">
				<button (click)="productCount(product, false)"><i class="fa-solid fa-minus fa-lg"></i></button>
				<input type="text" class="amount-input" [value]="product.count">
				<button (click)="productCount(product, true)"><i class="fa-solid fa-plus fa-lg"></i></button>
			  </div>
			  <button class="order-btn" (click)="addToBasket(product)">ORDER</button>
			</div>
		  </div>
		</div>
	</div>
</div>

