@import '../../shared/styles/variables';


.main-line {
	width: 180px;
	height: 6px;
	background-color: $primary-color;
	margin: 30px auto 10px;
	border-radius: 6px;
}

.main-title {
	width: 170px;
	font-size: 36px;
	font-weight: bold;
	margin: auto;
}

.products-tabs {
	display: flex;
	justify-content: center;
	margin: 46px auto;
	padding: 0;
	list-style: none;

	.products-item {

	  .products-link {
		display: block;
		text-decoration: none;
		color: #000;
		border: 1px solid lightgray;
		padding: 26px 50px;
		font-weight: bold;

		&.active {
		  border-bottom-color: transparent;
		  border-left-color: transparent;
		  border-top: 5px solid $primary-color;
		  padding: 22px 50px;
		}
	  }
	}
  }

.cards-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cards {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	max-width: 300px;
	padding: 10px;
	margin: 1px;
	border-radius: 10px;
	border: 1px solid transparent;
	overflow: hidden;
	transition: .3s all ease-in-out;

	&:hover {
		border: 1px solid $primary-color;
		border-radius: 6px;
		transition: .3s all ease-in-out;
		& img {
			transform: scale(1.02);
  			transition: transform .2s ease-in-out;
		}

		& .title {
			color: $primary-color;
      transition: .2s all ease-in-out;
		}
	}
  }

  .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    overflow: hidden;
  }

  .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 250px);
    padding: 20px;
  }

  .title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	transition: .2s ease-in-out;
  }

  .description {
	font-size: 16px;
	text-align: left;
	margin-bottom: 10px;
  }

  .card-description {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 18px;
  }

  .weight {
	margin-left: 10px;
	font-weight: bold;
	min-width: 54px;
  }

  .card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
  }

  .price {
	font-size: 20px;
	font-weight: bold;
  }

  .amount {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	border: 1px solid lightgray;
	padding: 12px 6px;
	border-radius: 6px;
	margin-left: 16px;

    &-input {
      font-size: 20px;
      width: 20px;
      border: none;
    }
  }

  .amount button {
	padding: 5px;
	border-radius: 6px;
	border: none;
	background-color: transparent;
	color: #000;
	outline: none;
	cursor: pointer;
	margin: 0 10px;

	&:hover {
		transition: .2s all ease-in-out;
		background-color: $primary-color;
	}

  }

   .order-btn {
		background-color: $primary-color;
		border-radius: 6px;
		border: 2px solid $primary-color;
		padding: 10px;
		font-weight: bold;
		font-size: 16px;
		margin-left: 16px;
		transition: .2s all ease-in-out;

		&:hover {
			transition: .2s all ease-in-out;
			background-color: #fff;
		}
	}



@media (max-width: 1318px) {
  .products-tabs {
    display: none;
  }

  .main-line {
    margin-top: 130px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 703px) {
  .card {
    max-width: 480px;
    margin-top: 20px;
  }
}
