
<div class="callback" >
  <i class="fa-solid fa-xmark fa-xl" mat-dialog-close></i>
  <div class="callback-title">WE WILL CALL YOU BACK</div>
  <p class="callback-text">Leave your phone number and our managers will contact you</p>
  <form class="callback-form" >
    <input type="text" class="callback-name" placeholder="Your name" formControlName="name">
    <input type="text" class="callback-phone" placeholder="Your phone number" formControlName="phone">
    <button class="callback-btn" >SEND</button>
  </form>
</div>

<!--[formGroup]="authCallbackForm"-->
<!--[disabled]="authCallbackForm.invalid" (click)="sendNumber()"-->
