
<div class="admin">
	<div class="admin-menu">
			<div class="admin-menu-btns">
			  <button type="button" [routerLink]="[ 'discount' ]" routerLinkActive="active">Discounts</button>
			  <button type="button" [routerLink]="[ 'category' ]" routerLinkActive="active">Сategories</button>
			  <button type="button" [routerLink]="[ 'product' ]" routerLinkActive="active">Products</button>
			  <button type="button">Orders</button>
			</div>
			<button class="exit-btn" type="button">EXIT</button>
	</div>
	<div class="admin-content">
		<router-outlet></router-outlet>
	</div>
</div>
