<div class="info">
	<h2><span style="padding: 5px 14px">1</span> Personal information</h2>
	<form class="info-form">
		<div class="small-inputs">
			<input type="text" placeholder="*Your name" value="">
			<input type="text" placeholder="*Your surname" value="">
		</div>
		<input type="text" placeholder="*Your phone number" value="">
		<input type="text" placeholder="*Your email" value="">
	</form>

	<h2><span>2</span>Addresess</h2>
	<div class="info-btns">
		<button type="button" class="add-btn">ADD ADDRESS</button>
		<button type="button" class="save-btn">SAVE CHANGES</button>
	</div>
</div>

