@import '../../shared/styles/variables';

table,
tbody tr {
	border-bottom: 1px solid rgb(215, 213, 230);
}
td {
	padding: 30px 10px 10px;
}
thead {
	border-bottom: 3px solid $primary-color;
}
thead tr th {
	padding: 10px 10px 18px;
}

th {
	text-align: left;
	font-weight: normal;
}

.table-img {
	position: relative;
	min-width: 150px;
	& img{
		position: absolute;
		top: 16px;
	}
} 

.table-descr {
	max-width: 300px;
}

.add-btn {
	padding: 16px 46px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	background-color: white;
	border: 2px solid $primary-color;
	margin-bottom: 16px;
}

.add-form {
	display: flex;
	flex-direction: column;

	& button {
		width: 250px;
		padding: 16px 16px;
		font-size: 18px;
		font-weight: bold;
		border-radius: 10px;
		background-color: white;
		border: 2px solid $primary-color;
		margin-top: 14px;

	}
}

input {
	width: 200px;
	border-radius: 8px;
	border: 2px solid rgb(227, 225, 240);
	padding: 14px 30px 14px 16px;
	margin-top: 14px;
}

.name-input {
	margin-right: 14px;
}

.descr {
	width: 465px;
	padding-bottom: 100px;
}

input:focus {
	outline: 3px solid rgba(89, 172, 255, 0.3);
    border-color: rgba(89, 172, 255, 0.6);
}

.btns-wrapper {
	display: flex;
	flex-direction: column;
}
.table-btn {
	background-color: inherit;
	border: none;
	font-size: 16px;
	font-weight: bold;
	color: $primary-color;
	margin-bottom: 6px;
}

.progress {
    display: block;
    max-width: 250px;
    height: 20px;
    background-color: #fff2df;
	margin-top: 10px;
	border-radius: 5px;
}
.bar {
    display: block;
    width: 0%;
    height: 100%;
    background-color: $primary-color;
	border-radius: 5px;
}